
<link rel="stylesheet"
      href="./styles/components/course/course-features.css?v=1.2">

<div id="course-features" data-bind="visible:isVisible()">
     <div id='course-loading-spinner' data-bind='style: { opacity:isSpinnerVisible() ? 1.0 : 0.0 }' class='small-spinner'></div>
     <tab-selector></tab-selector>
     <in-another-section-prompt></in-another-section-prompt>
     <forum></forum>
     <class-list></class-list>
     <course-reviews></course-reviews>
     <course-docs></course-docs>
</div>
