#empty-photo-button{

 width: 20vh;
  height: 20vh;
}


#join-to-access{
  height: 85vh;
  background: white;
  font-size: 23pt;
  padding-top: 28%;
}


#membership-prompt-holder{
  font-size: 3vh;
  width: 100%;
  max-width: 250pt;
  left: 0%;
  background: white;
  padding: 1vh 1vh 3vh 1vh;
  display: inline-block;
  margin: 0.1vh 0vh;
}

#course-joined-message{
  position: absolute;
      left: 50%;
      top: 30%;
      font-size: 3vh;
      transform: translate(-50%);
      box-shadow: 0vh 1vh 3vh #00000026;
      padding: 1vh;
      padding: 0vh 2vh;
      background: white;
      z-index: 2;
}

#section-prompt-message{
  font-size: 4vh;
}

#ok-sign{
  background: #ffffff;
  border-radius: 50%;
  color: #23c500;
  font-size: 5vh;
  vertical-align: middle;
}

#thank-you-message{
  margin-top: 11vh;
}

#thank-you-message > div{
      margin-bottom: 2vh;
}


#membership-prompt-holder > div{
  margin: 3vh 0vh;
  text-align: center;
}
#empty-photo-button{
  box-shadow: 0px 0.2vh 0.8vh #0000001c;
  border-radius: 50%;
  transition: 0.1s;
}
#empty-photo-button:hover{
  box-shadow: 0vh 0.1vh 1vh #03A9F4;
  cursor:pointer;
}

#open-profile-setter-arrow{
  font-size: 11vh;
    color: red;
}



#join-class-button:disabled{
  background: #e7e7e7;
  color: #838383;
}

#reasoning{
width: 100%;
  left: 50%;
  position: relative;
  transform: translate(-50%);
  font-size: 2.6vh;

  text-align: left;
}

#reasoning > div{
  margin-bottom: 2vh;
}
