<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type"
  content="text/html; charset=UTF-8">
  <title>auth component test runner</title>
  <link rel="stylesheet" type="text/css" href="./../../../libs/jasmine-2.8.0/jasmine.css">
  <script
     type="text/Javascript"
     src="../../../../src/libs/require.js"
     data-main="./moduleloader.js"></script>
     <script
       type="text/Javascript"
       src="../../../libs/require-testjs-plugin.js"></script>
</head>
<body>
  <div id="hideable-area">
    <canvas id="tool-area"></canvas>
    <canvas id="drawing-area"></canvas>
    <div id="drawing-area-with-wrong-tag"></div>
  </div>
</body>
</html>
