<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type"
  content="text/html; charset=UTF-8">
  <title>voice component spec runner</title>
  <link rel="stylesheet" type="text/css" href="./../../../libs/jasmine-2.8.0/jasmine.css">
  <script
     type="text/Javascript"
     src="../../../libs/require.js"
     data-main="./moduleloader.js"></script>
  <script
    type="text/Javascript"
    src="../../../libs/require-testjs-plugin.js"></script>


</head>
<body>
  <video id="remoteVideo" width="320" height="240" autoplay></video>
   <video id="localVideo" width="320" height="240" autoplay></video>

</body>
</html>
